@font-face {
    font-family: 'DancingScript';
    src: url(fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'DancingScript-Bold';
    src: url(fonts/Dancing_Script/static/DancingScript-Bold.ttf);
}

@font-face {
    font-family: 'Rajdhani-Regular';
    src: url(fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url(fonts/Rajdhani/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

