@import 'variables';
@import 'fonts';
@import 'base';

// Header styles

.header {
    height: 60px;
    background-color: rgba(17, 36, 30, 0.781);
    display: flex;
    align-items: center;
    padding: 0 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .header-logo {
        font-family: 'DancingScript-Bold';
        cursor: pointer;
        font-size: 43px;
        width: 204px;
        background: linear-gradient(90deg, $mainOrange, $whiteText, $mainOrange, $whiteText, $mainOrange);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textflow 5s linear infinite;
    }

    @keyframes textflow {
        from {
            background-position: 0% center
        }

        to {
            background-position: 200% center
        }
    }

}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 27px;

    li {
        width: 110px;
        height: 15px;
        text-align: center;
        list-style-type: none;

        a {
            color: #fff;
            transition: 0.3s;
            cursor: pointer;
            font-size: 17px;
            text-decoration: none;

            &:hover {
                color: rgb(235, 83, 33);
                font-size: 20px;
            }
        }

    }
}


// Hero section styles

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/main.jpg);
    background-position: center;
    padding: 40px 78px;
    a {
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero-title {
        color: $mainOrange;
        margin-top: 200px;
        font-family: 'Rajdhani-Bold';
        font-size: 24px;
        background: #202020d1;
        border-radius: 10px;
        padding: 5px;
        width: max-content
    }

    .hero-text {
        @extend .hero-title;
        margin-top: 10px;
        height: 240px;
        font-size: 20px;
        width: 75%;
        color: $whiteText;
    }

    .hero-buttons {
        margin-top: -72px;
        margin-left: 20px;
    }

    .btm {
        width: 105px;
        height: 41px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            width: 100px;
            height: 36px;

        }
    }

    .hero-btn-contact {
        background: transparent;
        color: $mainOrange;
        background: $whiteText;
        margin-left: 5px;

        &:hover {
            border: 2px solid $mainOrange;
        }

        .fa-phone-volume {
            font-size: 20px;

        }
    }

    .hero-btn-service {
        color: $whiteText;
        background-color: $mainOrange;

        &:hover {
            border: 2px solid $whiteText;
        }

    }

}


// Styles for section About Us

.about {
    width: 100%;
    height: 100vh;
    background-image: url("images/second-img.jpg");
    background-position: center;
    padding: 80px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    a {
        position: absolute;
        top: 0;
        left: 0;
    }
    .about-text {
        width: 61%;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .about-img {
        width: 20%;
        overflow: hidden;
        border-radius: 50%;
        background-size: cover;

        img {
            height: 100%;
        }
    }

    .about-block {
        height: 200px;
        background-color: #ffffff90;
        padding: 10px;
    }

    .first-photo {
        background-image: url('images/img-woman-first.jpg');
        background-position: -27px 0;
    }

    .second-photo {
        background-image: url("images/img-woman-second.jpg");
        background-position: -24px 0;
    }
}


// Styles for section products

.products {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    background-color: lightgrey;
    position: relative;
    a {
        position: absolute;
        top: 0;
        left: 0;
    }
    #carouselExampleCaptions {
        overflow: hidden;
        width: 60%;
        height: 88.4%;
        position: relative;

        .carousel-inner {
            overflow: hidden;

            .img {
                height: 500px;
            }
        }
    }
}

// Styles for section reviews

.reviews {
    width: 100%;
    height: 100vh;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    a{
        position: absolute;
        top: 0;
        left: 0;
    }
    .review {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 750px;
        height: 150px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px;
        color: white;
        font-family: 'Rajdhani-Bold';
        cursor: pointer;

        p {
            text-align: center;
        }

        .review-names {
            font-size: 21px;
        }

        &:hover {
            border: 2px solid $mainOrange;
            transition: border .2s;
        }
    }

}

.fa-star {
    color: yellow;
}

.review:hover .fa-star {
    color: deeppink;
    transition: .2s;
}

// Styles for section contact

.contact {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
    padding: 100px 20px 0px;
    display: flex;
    justify-content: space-between;

    .contact-form {
        width: 500px;
        height: 400px;
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
        color: $whiteText;
        background-color: rgb(77, 77, 77);
        position: relative;

        .input {
            width: 100%;
            border: none;
            border-radius: 5px;
            background-color: lightgrey;
            margin: 5px 0px;

            &:focus {
                outline: 2px solid $mainOrange;
            }
        }

        .contact-form-message {
            height: 214px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .contact-btn {
            width: 106px;
            height: 38px;
            background-color: $mainOrange;
            border-radius: 5px;
            border: none;
            transition: .2s;
            font-size: 20px;
            color: rgb(77, 77, 77);
            position: absolute;
            bottom: 10px;
            right: 15px;

            &:hover {
                color: white;
                background-color: rgb(247, 20, 20);
            }
        }

    }

    .contact-map {
        width: 700px;
        height: 300px;
        border-radius: 5px;
    }

    .contact-information {
        background-color: white;
        border-radius: 5px;
        height: 94px;
        padding-top: 10px;
    }

    p {
        margin: 0;

        span {
            font-weight: bold;
        }

        a {
            color: blue;
        }
    }
}